body.seo-template{
			background-color: #1a150f !important;
		font-family: noto-sans;
}
.seo-template .panel-seo-body,
.seo-template .c-panel-box > .panel-seo-body{
	font-size: 14px;
}
.seo-template .c-panel-box > .panel-seo-heading > .panel-title,
body .modal-header, body .banner-heading, body .thead-liga{
	color: #f1f1f1;
	font-size: 22px;
}

.seo-template .c-panel-box > .panel-seo-body{
	color: #272727;
}
.seo-template .navbar-seo-default{
	background: #6c0106;
	border-color: #6c0106;
}
.seo-template .navbar-seo-default .navbar-nav > li > a,
.seo-template .footer-socket .navbar-nav > li > a{
	color: #ffffff;
}
.seo-template .navbar-seo-default .navbar-nav > li > a:hover,
.seo-template .navbar-seo-default .navbar-nav > li > a:focus,
.seo-admin-secondary .dropdown.open a{
	background-color: #b88d3f;
}
.seo-template .navbar-seo-default .navbar-toggle:hover,
.seo-template .navbar-seo-default .navbar-toggle:focus{
	background-color: #6c0106;
}
.seo-template .navbar-seo-default .navbar-toggle{
	border-color: #ffffff;
}
.seo-template .navbar-seo-default .navbar-toggle .icon-bar{
	background-color: black !important;
}

.nav-foot .nav.navbar-nav {
    float: none;
    text-align: center;
}

.nav-foot .navbar-nav > li {
    display: inline-block;
    float: none;
}

