$default: #1a150f;
$white: #fff;
$white-fd: #fdfdfd;
$yellow: #fbd776;
$gold: #b88d3f;
$black-1: #191919;
$black-3: #3b3734;
$black-4: #000004;
$black-4c: #4c4b49;
$black-5: #1b1610;
$gray-e: #eee;
$gray-1: #6c6b67;
$gray-2: #737373;
$gray-3: #86827f;
$gray-4: #a6a5a3;
$gray-5: #bcbbb9;
$gray-f1: #f1f1f1;
$gray-99: #999;
$gray-dd: #DDD;
$green: #81bf04;
$fun-maroon: #9e0003;
$fun-red-ca: #ca0219;
$fun-gold-1: #cab878;
$fun-gold-2: #e3c87b;
$fun-gray-e2: #e2e2e2;
$fun-gray-d3: #d3d3d3;


//Light
$light-gray: #ccc;
$light-red: #6c010b;
$lighter-yellow: #f6f195;
$light-yellow: #f0ec8b;
$light-gold: #ece98a;
$light-green-b: #b0fd00;
$light-green-ae: #aede00;
$fun-light-blue: #235c9b;
$fun-light-gray-e: #e6ebef;
$fun-light-gray-b: #b2b6b9;
$fun-light-g: #ecefb6;


//Dark
$darker-red: #6c0106;
$dark-red: #550006;
$dark-yellow: #d09800;
$dark-gold: #b7873b;
$dark-green: #57aa02;
$fun-dark-blue: #1c406d;
$fun-dark-g: #8f5c1a;

//shadows
$opa-2: rgba(0, 0, 0, 0.27);
$opa-5: rgba(0,0,0,.05);
$opa-8: rgba(42, 39, 34, 0.89);

//RGBA
$fun-b-trans-3:rgba(0, 0, 0, 0.3);
$fun-b-trans-7:rgba(0, 19, 43, 0.7);
$fun-blue-trans-8:rgba(35, 92, 155, 0.88);
$fun-dblue-trans-8:rgba(2, 28, 59, 0.8);